{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 11 // версия стандарта JavaScript. Последний 12 (2021).
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}